.cabecalho{
    background-color: #7bd172;
 }

 footer{
     background-color:#7bd172;
}
 .black-color{
     background-color :black;
}
/*.cabecalho{
    background-color: rgb(52, 52, 226);
    width:auto;
}
footer{
    background-color:rgb(89, 88, 88) ;
}*/