<<<<<<< HEAD
.cabecalho{
    background-color: #D6E8DB;
 }
 footer{
     background-color:#D6E8DB;
 }
 .black-color{
     background-color :black;
   }
 /*=======*/
 .Lucas_Voltar {
     text-decoration: none;
     color: black;
     font-size: 20px;
     background-color: rgb(245, 241, 241);
     border-radius: 5px;
     box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
 }
 
 .Lucas_Card {
     padding: 10px;
     margin: auto;
     border: solid 2px black;
     border-radius: 15px;
     display: block;
     justify-content: space-between;
     align-items: center;
     text-align: center;
     font-size: 25px;
     width: 900px;
     height: 550px;
     box-shadow: 60px -16px #D6E8DB;
 }
 
 .Lucas_Card2 {
     padding: auto;
     margin: auto;
     border: solid 2px black;
     border-radius: 15px;
     display: block;
     font-size: 25px;
     width: 900px;
     height: 550px;
     box-shadow: 60px -16px #D6E8DB;
 }
 
 .Lucas_Card3 {
     padding: auto;
     margin: auto;
     border: solid 2px black;
     border-radius: 15px;
     display: flexbox;
     justify-content: left;
     text-align: right;
     font-size: 25px;
     width: 900px;
     height: 550px;
     box-shadow: 60px -16px #D6E8DB;
 }
 
 .Lucas_Input {
     color: black;
     border: 0px;
     border-radius: 11px;
     width: 350px;
     background-color: rgb(230, 229, 229);
     height: 40px;
     font-size: 18px;
     text-align: left;
 }
 
 .Lucas_Input2 {
     margin: 10px;
     color: black;
     border: 0px;
     border-radius: 11px;
     width: 350px;
     background-color: rgb(230, 229, 229);
     height: 40px;
     font-size: 18px;
     text-align: left;
 }
 
 .Lucas_Input3 {
     margin: 10px;
     text-align: left;
     color: black;
     border: 0px;
     border-radius: 11px;
     width: 350px;
     font-size: 18px;
     background-color: rgb(230, 229, 229);
     height: 40px
 }
 
 .Lucas_p {
     text-decoration: none;
     color: black;
     font-size: 18px
 }
 
 .Lucas_button2:hover {
     transform: scale(1.2);
 }
 
 .Lucas_button2 {
     transition: transform 0.3;
 }
 
 .Lucas_button2 {
     display: inline;
     justify-content: left;
     text-align: auto;
     border: auto;
     border-radius: 11px;
     width: 130px;
     height: 50px;
     font-size: 15px;
     background-color: rgb(255, 255, 255);
     text-decoration: none;
     color: black;
 }
 
 .Lucas_button2:hover {
     transform: scale(1.2);
 }
 
 .Lucas_button2 {
     transition: transform 0.3s;
 }

=======
.cabecalho {
    background-color: #D6E8DB;
}

footer {
    background-color: #D6E8DB;
}

.black-color {
    background-color: black;
}

/*=======*/
.Lucas_Voltar {
    text-decoration: none;
    color: black;
    font-size: 20px;
    background-color: rgb(245, 241, 241);
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.Lucas_Card {
    padding: 10px;
    margin: auto;
    border: solid 2px black;
    border-radius: 15px;
    display: block;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 25px;
    width: 900px;
    height: 550px;
    box-shadow: 60px -16px #D6E8DB;
}

.Lucas_Card2 {
    padding: auto;
    margin: auto;
    border: solid 2px black;
    border-radius: 15px;
    display: block;
    font-size: 25px;
    width: 900px;
    height: 550px;
    box-shadow: 60px -16px #D6E8DB;
}

.Lucas_Card3 {
    padding: auto;
    margin: auto;
    border: solid 2px black;
    border-radius: 15px;
    display: flexbox;
    justify-content: left;
    text-align: right;
    font-size: 25px;
    width: 900px;
    height: 550px;
    box-shadow: 60px -16px #D6E8DB;
}

.Lucas_Input {
    color: black;
    border: 0px;
    border-radius: 11px;
    width: 350px;
    background-color: rgb(230, 229, 229);
    height: 40px;
    font-size: 18px;
    text-align: left;
}

.Lucas_Input2 {
    margin: 10px;
    color: black;
    border: 0px;
    border-radius: 11px;
    width: 350px;
    background-color: rgb(230, 229, 229);
    height: 40px;
    font-size: 18px;
    text-align: left;
}

.Lucas_Input3 {
    margin: 10px;
    text-align: left;
    color: black;
    border: 0px;
    border-radius: 11px;
    width: 350px;
    font-size: 18px;
    background-color: rgb(230, 229, 229);
    height: 40px
}

.Lucas_p {
    text-decoration: none;
    color: black;
    font-size: 18px
}

.Lucas_button2:hover {
    transform: scale(1.2);
}

.Lucas_button2 {
    transition: transform 0.3;
}

.Lucas_button2 {
    display: inline;
    justify-content: left;
    text-align: auto;
    border: auto;
    border-radius: 11px;
    width: 130px;
    height: 50px;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    color: black;
}

.Lucas_button2:hover {
    transform: scale(1.2);
}

.Lucas_button2 {
    transition: transform 0.3s;
}
>>>>>>> bd3d0ebba1fc2192420f3794fb2c65f2b7575ebd

/* index Letícia*/ 
body.index{
    background-color: white;
}

/* cabeçalho */
header.index {
    height: 100px;
    background-color: #D6E8DB ;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
}
header.index img {
    height: 25%;
}

header.index #logo{
    height: 40%;
}

header.index #buscador img {
    height: 10%;
}

header.index input {
    height: 10%;
}
/* conteudo do site */
#conteudo {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

    /*principal*/
#posts {
    display: grid;
    grid-template-columns: 30%, 30%, 30%;
    padding: 10%
}
#posts img {
    width: 80%;
} 
    /* menu lateral */

#links.uteis {
    border: solid black 1px;

}

#projetos.recentes {
    border: solid;
}

/* rodape */

footer.index {
    height: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2%;
    text-align: center;
}

footer.index img {
    height: 20%;
}

footer.index #redes.sociais {
    display: grid;
    grid-template-columns: 1fr 1fr;
}